html{
   background-color: aliceblue;
}
body {
  overflow: hidden;
}
h1{
   text-align: center;
   font-size: 50px;
   font-family: "Playwrite DK Loopet", cursive;
   background: linear-gradient(to right, rgb(0, 174, 255), rgb(174, 0, 255));
   background-clip: text;
   -webkit-background-clip: text; /* لدعم WebKit */
   color: transparent;
   -webkit-text-fill-color: transparent; /* دعم WebKit */
}
#d1{
   border: solid;
   width: 70px;
   height: 600px;
   position: relative;
   bottom: 140px;
   border-radius: 10px;
   background-image: linear-gradient(rgb(0, 204, 255), rgb(98, 0, 255));
   border-color: aliceblue;
   margin-left: auto;
}
#i1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   border-color: rgba(240, 248, 255, 0);
   background-color: rgba(20, 197, 197, 0);
   font-size: 50px;
}
